/* body{
  background-image: linear-gradient(120deg, #e8eeee 0%, #cbd1d0 100%);
} */

#show {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.dis {
  width: 310px;
  height: 110px;
  margin: 5px;
  display: flex;
  border-radius: 5px;
  border-color: #b5b5ba;
  border-width: 1px;
  border-style: solid;
}

.dis .data {
  margin: 10px;
  width: 310px;
  height: 90px;
  position: relative;
  border-color: #b5b5ba;
}

.dis .data .top-down {
  font-size: 13px;
  color: #8e8e90;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
}

.dis .data .visible {
  border-radius: 12px;
  border-color: #b5b5ba;
  border-width: 1px;
  border-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: bolder;
  color: #97979b;
  padding: 1px 5px 1px 5px;
}

.top-right {
  position: absolute;
  top: 0;
  right: 0;
  margin: 3px;
}

.dis .data .define {
  color: grey;
  font-size: 12px;
}

h1{
  padding-top: 20px;
  padding-bottom: 10px;
  font-family: "Robota",sans-serif;
  font-weight: normal!important;
}